<center>
<div style="border: 0px solid #000; width: 1000px; text-align:left;">
{% for entry in listing_object %}
  {% if entry.name %}

      {% assign api_name = entry.name %}
      {% assign api_slug = entry.x-slug %}
      {% assign api_description = entry.description %}
      {% assign api_image = entry.image %}
      {% assign api_json_url = entry.url %}
      {% assign api_json_kin_rank = entry.x-kinRank %}
      {% assign api_json_alexa_rank = entry.x-alexaRank %}

      <img src="{{ api_image }}" width="100" align="left" style="padding: 15px;" /><br />
      <strong>{{ api_name }}</strong><br />
      {{ api_description }}<br />
      <strong>Links:</strong><br />
      {% for common in entry.x-common %}

        {% if common.type == 'x-website' %}
         - <a href="{{ common.url }}">Website</a><br />
        {% endif %}

        {% if common.type == 'x-getting-started' %}
         - <a href="{{ common.url }}">Getting Started</a><br />
        {% endif %}

        {% if common.type == 'x-authentication-overview' %}
          - <a href="{{ common.url }}">Authentication</a><br />
        {% endif %}

        {% if common.type == 'x-selfservice-registration' %}
         - <a href="{{ common.url }}">Sign Up</a><br />
        {% endif %}

        {% if common.type == 'x-documentation' %}
         - <a href="{{ common.url }}">Documentation</a><br />
        {% endif %}

        {% if common.type == 'x-road-map' %}
         - <a href="{{ common.url }}">Road Map</a><br />
        {% endif %}

        {% if common.type == 'x-change-log' %}
         - <a href="{{ common.url }}">Change Log</a><br />
        {% endif %}

        {% if common.type == 'x-status' %}
         - <a href="{{ common.url }}">Status</a><br />
        {% endif %}

        {% if common.type == 'x-support' %}
         - <a href="{{ common.url }}">Support</a><br />
        {% endif %}

        {% if common.type == 'x-blog' %}
         - <a href="{{ common.url }}">Blog</a><br />
        {% endif %}

        {% if common.type == 'x-blog-rss' %}
         - <a href="{{ common.url }}">Blog RSS</a><br />
        {% endif %}

        {% if common.type == 'x-twitter' %}
         - <a href="{{ common.url }}">Twitter</a><br />
        {% endif %}

        {% if common.type == 'x-github' %}
         - <a href="{{ common.url }}">Github</a><br />
        {% endif %}

        {% if common.type == 'x-pricing' %}
         - <a href="{{ common.url }}">Plans</a><br />
        {% endif %}

        {% if common.type == 'x-terms-of-service-page' %}
         - <a href="{{ common.url }}">Terms of Service</a><br />
        {% endif %}

        {% if common.type == 'x-privacy-policy-page' %}
         - <a href="{{ common.url }}">Privacy Policy</a><br />
        {% endif %}

      {% endfor %}
      <p align="left"><strong>API Paths:</strong><br />
      {% for item in site.listings %}
        {% if item.swagger %}
          {% if item.swagger == "2.0" %}
            {% if entry.name == item.x-collection-name %}
              {% for path in item.paths %}

                {% assign path_name = path[0] %}
                {% assign api_path_slug = path_name | lstrip | rstrip | remove_first: "/" | replace: '.','' | replace: '{','' | replace: '}','' | replace: ' ','-' | replace: '/','-' | replace: '&','-' | replace: ':','' | replace: '.','-' | replace: '=','-' | replace: '?','-' | replace: '_','-' | replace: '---','-' | replace: '--','-' | downcase %}
                {% for method in path[1] %}

                  {% assign method_details = method[1] %}
                  {% assign verb = method[0] %}
                  {% assign api_path_slug = api_path_slug | append: '-' | append: verb | replace: '.','' | replace: '_','-' | replace: '---','-' | replace: '--','-' | downcase %}
                  {% assign api_path_summary = method_details.summary %}
                  {% assign api_path_description = method_details.description %}
                  {% assign api_path_parameters = method_details.parameters %}
                  {% assign api_path_tags = method_details.tags %}

                  - <a href="http://{{ api_slug | replace: '-','.' }}.api.gallery.streamdata.io/listings/{{ api_slug }}/{{ api_path_slug }}/" target="_blank">{{ api_path_summary }}</a> ({{ verb | upcase }}) - {{ api_path_description }}<br />

                {% endfor %}
              {% endfor %}
           {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <br /><hr /><br />

  {% endif %}
{% endfor %}
</div>
</center>
